:root{
    --cor-de-fundo-branco:#FFFFFF;
    --cor-de-fundo: #C4C4C4;
    --cor-titulos:#3c464e;
    --cor-botoes:#EB9B00;
    --fonte-geral: 'Poppins', sans-serif;
    --tamanho-fonte-titulo:2rem;
    --tamanho-fonte-subtitulo:1.25rem;
    --tamanho-fonte-geral:1rem;
    --peso-fonte-geral:400;
    --peso-fonte-titulo:700;
    --peso-fonte-sublinhado:200;
}


.cabecalho__menu-hamburguer {
    width:40px;
    height:40px;
    background-image: url(../img/Menu.svg);
    display: inline-block;
}   

/* inline-block pois assim permite ajustes de altura e largura, lembrando que com o display=block não conseguimos fazer tais ajustes */

.cabecalho{
    background-color: var(--cor-de-fundo-branco);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative;
}

/*APÓS ESTA LINHA ACIMA OS ELEMENTOS FICARAM Á ESQUERDA, MAS ISTO ACONTECEU POIS COLOCAMOS-O EM OUTRO ARQUIVO CSS, ESTE ESQUEMA É MUITO BOM QUANDO PRECISAMOS FAZER UM MENU DESSE JEITO SEM USAR JAVASCRIPT, CLARO, O GRANDE SEGREDO FOI O 'justify-content'*/

.container__imagem{
    padding: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    top: 100%;
}

.lista-menu{
    display: none;
    position: absolute;
    width: 55vw;

}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo{
    color: var(--cor-titulos);
    font-size: var(--tamanho-fonte-geral);
    font-family: var(--fonte-geral);
    font-weight: var(--peso-fonte-titulo);
}

.lista-menu__link{
    color: var(--cor-botoes);
    font-size: var(--tamanho-fonte-geral);
    font-family: var(--fonte-geral);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--peso-fonte-geral);
}

.lista-menu__titulo,
.lista-menu__item{
    background-color: var(--cor-de-fundo-branco);
    padding: 1rem;
}