:root{
    --branco:#FFFFFF;
    --cor-de-fundo: #C4C4C4;
    --cor-titulos:#002F52;
    --cor-botoes:#EB9B00;
    --fonte-geral: 'Poppins', sans-serif;
    --tamanho-fonte-titulo:1.35rem;
    --tamanho-fonte-subtitulo:1.15rem;
    --tamanho-fonte-geral:1rem;
    --peso-fonte-geral:400;
    --peso-fonte-titulo:700;
    --peso-fonte-sublinhado:200;
}

a{
    text-decoration:none;
    color: var(--branco);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cabecalho__menu-hamburguer {
    width:40px;
    height:40px;
    background-image: url(../img/Menu.svg);
    display: inline-block;
}   

/* inline-block pois assim permite ajustes de altura e largura, lembrando que com o display=block não conseguimos fazer tais ajustes */

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative;
}

.cabecalho__opcoes{
    display: flex;
}

.link__opcoes{
    color: black;
    font-family: var(--fonte-geral);
    font-weight: 400;
    padding: 0 1rem;
}

/*APÓS ESTA LINHA ACIMA OS ELEMENTOS FICARAM Á ESQUERDA, MAS ISTO ACONTECEU POIS COLOCAMOS-O EM OUTRO ARQUIVO CSS, ESTE ESQUEMA É MUITO BOM QUANDO PRECISAMOS FAZER UM MENU DESSE JEITO SEM USAR JAVASCRIPT, CLARO, O GRANDE SEGREDO FOI O 'justify-content'*/

.container__imagem{
    padding: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    top: 100%;
}

.container__titulo{
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
    font-size: 1,2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: block;
    flex-wrap: nowrap;
}

.lista-menu{
    display: none;
    position: absolute;
    width: 55vw;

}

.container__botao:checked~.lista-menu {
    display: block;
    width: auto;
    margin-top: 350px;
}

.lista-menu__titulo{
    color: var(--cor-titulos);
    font-size: var(--tamanho-fonte-);
    font-family: var(--fonte-geral);
    font-weight: var(--peso-fonte-titulo);
}

.lista-menu__link{
    color: var(--cor-botoes);
    font-size: var(--tamanho-fonte-geral);
    font-family: var(--fonte-geral);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--peso-fonte-geral);
}

.lista-menu__titulo,
.lista-menu__item{
    background-color: var(--branco);
    padding: 1rem;
}

.container__titulo{
    display: none;
}

.cabecalho__opcoes{
    display: none;
}


@media screen and (min-width:1024px) {


    .container__titulo, .container__titulo--negrito{
    font-family: 'Josefin Sans', sans-serif;
    font: 1.8rem; 
}
    


.container__titulo{
    font-weight: 400;
    display: block;
}


.container__titulo--negrito{
    font-weight: 700; }

    .cabecalho__opcoes{
        display: flex;
    }
    
    .link__opcoes{
        color: black;
        font-family: var(--fonte-geral);
        font-weight: 400;
        padding: 0 1rem;
    }

    .coracao{
        display: none;
    }
    
    .cabecalho__menu-hamburguer{
        display: none;
    }

.cabecalho__botao:checked~.lista-menu{
    display: block;
    margin-top: 43px;
    width: auto;
}

.cabecalho__botao{
    display: none;
    position: absolute;
}

}
