
.rodape{
    background-color: var(--branco);
}

.rodape__titulo{
font-family: var(--fonte-geral);
color: #000;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

hr{
    margin: 0;
}