@import url(../styles/header.css);
/* Usamos o '@import" aqui pelo motivo de ser mais rádio o carregamento do arquivo, além de deixar o index.html com menos códigos*/


:root{
    --cor-de-fundo-section:#FFFFFF;
    --cor-de-fundo:#EBECEE;
    --cor-titulos:#002F52;
    --cor--botoes:#EB9B00;
    --fonte-geral: 'Poppins', sans-serif;
    --tamanho-fonte-titulo:2rem;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: var(--cor-de-fundo);
}

.cabecalho{
    background-color: var(--cor-de-fundo-section);
}